<!DOCTYPE html>
<!-- Portfolio -->
<section class="section bg-grey arrow-bottom" id="portfolio">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <label for="marca">Prenda</label>
                <ui-select ng-model="product.prenda" theme="selectize">
                    <ui-select-match placeholder="Prenda">{{$select.selected.name}}</ui-select-match>
                    <ui-select-choices repeat="prenda in prendas | filter: $select.search">
                        <span ng-bind-html="prenda.name | highlight: $select.search"></span>
                    </ui-select-choices>
                </ui-select>
            </div>
            <div class="col-md-2">
                <label for="marca">Marca</label>
                <ui-select id="marca" ng-maxlength="25" ng-model="product.marca" reset-search-input="false" theme="selectize">
                    <ui-select-match placeholder="Marca">
                        <span>{{$select.selected.nombre || $select.search}}</span>
                        <a class="btn btn-xs btn-link pull-right" ng-click="clear($event, $select)">
                            <i class="glyphicon glyphicon-remove"></i>
                        </a>
                    </ui-select-match>
                    <ui-select-choices refresh-delay="0" refresh="refreshResults($select)" repeat="marca in (marcas | filter: $select.search | limitTo: 100) track by marca.id">
                        <span ng-bind-html="marca.nombre | highlight: $select.search"></span>
                    </ui-select-choices>
                </ui-select>
            </div>
            <div class="col-md-1">
                <label for="precio">Precio</label>
                <input class="form-control" id="precio" ng-model="product.amount" placeholder="Precio" type="text">
            </div>
            <div class="col-md-2">
                <label for="marca">Género</label>
                <ui-select ng-model="product.genero" theme="selectize">
                    <ui-select-match placeholder="Género">{{$select.selected.name}}</ui-select-match>
                    <ui-select-choices repeat="genero in generos | filter: $select.search">
                        <span ng-bind-html="genero.name | highlight: $select.search"></span>
                    </ui-select-choices>
                </ui-select>
            </div>
            <div class="col-md-2">
                <label for="talla">Talla</label>
                <ui-select ng-model="product.talla" theme="selectize">
                    <ui-select-match placeholder="Talla">{{$select.selected.name}}</ui-select-match>
                    <ui-select-choices repeat="talla in tallas | filter: $select.search">
                        <span ng-bind-html="talla.name | highlight: $select.search"></span>
                    </ui-select-choices>
                </ui-select>
            </div>
            <div class="col-md-2">
                <label for="color">Color</label>
                <ui-select ng-model="product.color" theme="selectize">
                    <ui-select-match placeholder="Color">{{$select.selected.name}}</ui-select-match>
                    <ui-select-choices repeat="color in colors | filter: $select.search">
                        <span ng-bind-html="color.name | highlight: $select.search"></span>
                    </ui-select-choices>
                </ui-select>
            </div>
        </div>
        <div class="row mt20">
            <div class="col-md-12 text-center">
                <button class="btn btn-primary" ng-click="addBusco()" ng-disabled="checkProductAttr()" style="text-transform:none" type="submit">Búscalo por mi</button>
            </div>
        </div>
        <div class="row mt50">
            <div class="col-md-12">
                <table class="table table-striped text-center">
                    <thead>
                        <tr>
                            <th class="text-center">#</th>
                            <th class="text-center">Prenda</th>
                            <th class="text-center">Marca</th>
                            <th class="text-center">Precio Max.</th>
                            <th class="text-center">Género</th>
                            <th class="text-center">Talla</th>
                            <th class="text-center">Color</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="busco in buscos track by $index">
                            <th class="text-center">{{$index + 1}}</th>
                            <td>{{busco.prendaName}}</td>
                            <td>{{busco.marcaName}}</td>
                            <td>{{busco.maxPrice}}</td>
                            <td>{{busco.generoName}}</td>
                            <td>{{busco.tallaName}}</td>
                            <td>{{busco.colorName}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
<!-- End Portfolio -->
