<!DOCTYPE html>
<div class="login">
  <div class="loginContainer" style="background-image: url('../styles/images/login1.jpg');"></div>
  <div class="loginContainer" style="background-image: url('../styles/images/login2.jpg');"></div>
  <div class="loginContainer" style="background-image: url('../styles/images/login3.jpg');"></div>
  <div class="loginContainer" style="background-image: url('../styles/images/login4.jpg');"></div>
  <div class="loginContainer" style="background-image: url('../styles/images/login5.jpg');"></div>
  <div class="loginContainer" style="background-image: url('../styles/images/login6.jpg');"></div>
  <div class="loginContainer" style="background-image: url('../styles/images/login7.jpg');"></div>
  <div class="loginContainer" style="background-image: url('../styles/images/login8.jpg');"></div>
  <div class="loginContainer" style="background-image: url('../styles/images/login9.jpg');"></div>
  <div class="loginContainer" style="background-image: url('../styles/images/login10.jpg');"></div>
</div>
<div class="frozenContainer"></div>
<div class="loginOptions">
  <span class="title">¡No esperes más!</span>
  <br><br>
  Entra con un simple click:
  <br><br><br><br>
  <a fb-login class="btn btn-block btn-social btn-facebook">
    <span class="fa fa-facebook"></span>
    Facebook login
  </a>
  <br>
  <a g-login class="btn btn-block btn-social btn-google">
    <span class="fa fa-google"></span>
    Google login
  </a>
  <!-- <button g-login type="button">Google Login</button>
  <button fb-login type="button">facebook Login</button> -->
</div>
