/*
http://getbootstrap.com/components/#navbar-fixed-top
The fixed navbar will overlay your other content, unless you add padding to the top of the <body>. Try out your own values or use our snippet below. Tip: By default, the navbar is 50px high.
Make sure to include this after the core Bootstrap CSS.
*/
body {
    padding-top: 70px;
}

.mt20{
  margin-top: 20px;
}
.mt10{
  margin-top: 10px;
}
.mb10{
  margin-bottom: 10px;
}
.mt50{
  margin-top: 50px;
}
.mr5{
    margin-right: 5px;
}
.mr15{
  margin-right: 15px;
}
.mr50{
  margin-right: 50px;
}
.txtNegrita{
  font-weight: bold;
}
.txtItalic{
  font-style: italic;
}
.txtMin{
  font-size: 11px;
}
.pointer{
  cursor: pointer;
  text-decoration: none;
}
.pointer:hover{
  text-decoration: none;
}
.ng-dirty.ng-invalid>div.selectize-input{
  border-color: #d0d0d0;
}
.customlabel{
  font-family: "Lucida Grande", Geneva, Arial, Verdana, sans-serif;
  color: #333;
  font-size: 1em;
}

.userFoto{
  width:40px;
  border-radius:50px;
}

.modal-header{
      padding-bottom: 0px;
}
.sweet-alert{
  top:45% !important;
}

//login

.btn-social>:first-child {
    font-size: 1.2em;
}
.btn-social{
  padding-left: 36px !important;
  font-size: .9em !important;
}

.login{
  margin-top:-70px;
  .loginContainer{
    width:100vw;
    height:100vh;
    background-repeat: no-repeat;
    background-size:cover;
  }
}

.frozenContainer{
  position:absolute;
  left:76%;
  top:10%;
  width:250px;
  height:275px;
  opacity:.5;
  border-radius:8px;
  filter:blur(4px);
  -o-filter:blur(4px);
  -ms-filter:blur(4px);
  -moz-filter:blur(4px);
  -webkit-filter:blur(4px);
  background-color:white;
  box-shadow: 5px 5px 3px #888888;
}
.loginOptions{
  position:absolute;
  left:76%;
  top:10%;
  margin-top:25px;
  margin-left:15px;
  width:220px;
  height:275px;
  .title{
    font-family: "Lucida Grande", Geneva, Arial, Verdana, sans-serif;
    color: #333;
    font-size: 1.9em;
    margin-left: 3px;
  }
  .subtitle{
    font-family: "Lucida Grande", Geneva, Arial, Verdana, sans-serif;
    color: #333;
    font-size: 1.2em;
    margin-left: 15px;
  }
  .extrainfo{
    font-family: "Lucida Grande", Geneva, Arial, Verdana, sans-serif;
    color: #333;
    font-size: .8em;
    margin-left: 15px;
  }
}

.dp{
  display: none;
}
.dpnon{
  display: block;
}

.favoriteGlyphiconStar {
    position: absolute;
    top: 10px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    right: 10px;
    font-size: 1.4em;
    color: #CCCCCC;
    &.isFavorite{
      color: #FDCE38;
    }
}
.favoriteGlyphiconStar:hover {
    font-size: 1.5em;
}

.btn-fav{
    color: #333;
    background-color: #fff;
    border-color: #ccc;
    text-transform: none;
  .glyphicon-star{
    color: #CCCCCC;
    font-size: 1.2em;
    top:2px;
    &.isFavorite{
      color: #FDCE38;
    }
  }
}
.btn-fav:hover{
  color: #333;
  background-color: #fff;
  border-color: #ccc;
  .glyphicon-star{
    color: #FDCE38;
  }
}

.menuUser{
  width:300px;
  white-space:nowrap;
  padding-left: 10px;
  padding-right: 10px;
  .userOption{
    text-align: center;
    cursor: pointer;
    margin-bottom:10px;
    border-radius: 6px;

    .glyphicon-star{
      color: #FDCE38;
    }
    .glyphicon-off{
      color: #7f0000;
    }
    .glyphicon-cog{
      color: #999999;
    }
    .glyphicon-briefcase{
      color: #6f5006;
    }

    .glyphicon{
      text-align: center;
      font-size: 2em !important;
      margin-top: 10px;
      margin-bottom: 10px;
    }
    .glyphicon-class {
        display: block;
        text-align: center;
        word-wrap: break-word;
        margin-bottom: 7px;
        font-size: .9em;
    }
  }
  .userOption:hover{
    background-color: #eeeeee;
  }
}

.modal-dialog .modal-content .modal-body {
    background-color: white;
}

.radio{
  &.customradio{
    font-weight: normal;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left:20px;
  }
}

.menu-column{
  position: fixed;
  background-color:white;
  border-radius:6px;
  margin-left:15px;
  width:235px;
  min-width:235px;
  max-width:235px;
  min-height:600px;
}

.menu-column-tablet{
  background-color:white;
  border-radius:6px;
  display: none;
}

.inputAux{
  position: fixed;
  max-width: 236px;
  margin-top: -30px;
}

rzslider span.rz-bar{
      background-color: #CCC;
}
rzslider span.rz-pointer{
  top:-12px;
  box-shadow: -0.776px 0.898px 5px 0px rgba(0, 1, 1, 0.35), inset 1px 1.732px 0px 1px rgba(255, 255, 255, 0.2);
}

rzslider span.rz-bubble:not(.rz-limit){
    background-color: white;
    color: gray;
    margin-top: -20px;
}
rzslider span.rz-bubble:not(.rz-limit):after {
  border-top-color: white;
}
rzslider span.rz-bubble.rz-limit {
  display: none;
}

@media only screen and (max-width: 991px) {
  .menu-column{
    display: none;
  }

}

//LOADING BAR
#loading-bar-spinner {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .15);
    cursor: not-allowed;
}

#loading-bar-spinner .spinner-icon {
    width: 50px;
    height: 50px;
    margin: 0 auto;
    margin-top: calc(50vh - 25px);
    border-top-color: lighten(#CCCCCC, 20%);
    border-left-color: lighten(#CCCCCC, 20%);
    border-width: 4px;
}

#loading-bar .bar {
    background: #CCCCCC;
}

#loading-bar .peg {
    box-shadow: none;
}
