/*
http://getbootstrap.com/components/#navbar-fixed-top
The fixed navbar will overlay your other content, unless you add padding to the top of the <body>. Try out your own values or use our snippet below. Tip: By default, the navbar is 50px high.
Make sure to include this after the core Bootstrap CSS.
*/
body {
    padding-top: 70px;
}

.mt20{
  margin-top: 20px;
}

.mt10{
  margin-top: 5px;
}
.mt50{
  margin-top: 50px;
}
.txtNegrita{
  font-weight: bold;
}
.modal-dialog .modal-content .modal-body {
    background-color: white;
}

.radio{
  &.customradio{
    font-weight: normal;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left:20px;
  }
}

.menu-column{
  position: fixed;
  background-color:white;
  border-radius:6px;
  margin-left:15px;
  width:250px;
  min-width:250px;
  max-width:250px;
  min-height:600px;
}

.inputAux{
  position: fixed;
  max-width: 251px;
  margin-top: -30px;
}

rzslider span.rz-bar{
      background-color: #CCC;
}
rzslider span.rz-pointer{
  top:-12px;
  box-shadow: -0.776px 0.898px 5px 0px rgba(0, 1, 1, 0.35), inset 1px 1.732px 0px 1px rgba(255, 255, 255, 0.2);
}

rzslider span.rz-bubble:not(.rz-limit){
    background-color: white;
    color: gray;
    margin-top: -20px;
}
rzslider span.rz-bubble:not(.rz-limit):after {
  border-top-color: white;
}
rzslider span.rz-bubble.rz-limit {
  display: none;
}
