<!DOCTYPE html>
<div class="modal-header">
    <div class="row">
      <div class="col-md-9">
        <h4>{{item.name}}</h4>
      </div>
      <div class="col-md-3 text-right">
        <h4>{{item.price}} €</h4>
      </div>
    </div>

</div>
<div class="modal-body">
  <div class="row">
    <div class="col-md-4">
       <a href="{{getImage(item)}}" class="cloud-zoom" rel="transparentImage: 'data:image/gif;base64,R0lGODlhAQABAID/AMDAwAAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==', useWrapper: false, showTitle: true, zoomWidth:'{{zoomWidth}}', zoomHeight:'{{zoomHeight}}', adjustY:-30, adjustX:25">
          <img id="img" src="{{getImage(item)}}" style="width:200px; height:200px;"/>
        </a>
    </div>
    <div class="col-md-offset-1 col-md-4">
      {{item.description}}
      <ng-map style="margin-top:20px; height: 200px; width: 350px;" zoom="14"></ng-map>
    </div>
  </div>
  <div class="row mt10 mb10">
    <div class="col-md-1">
      {{item.tallaName}}
    </div>
    <div class="col-md-3">
      5 hunters lo quieren
    </div>
    <div class="col-md-8 text-right">
      <button class="btn btn-primary" type="button" ng-click="ok()">Es perfecto para mí!</button>
    </div>
  </div>
</div>
