<!DOCTYPE html>
<!-- Portfolio -->
    <section id="portfolio" class="section bg-grey arrow-bottom">
  		<div class="container">
        <div class="row">
          <div class="col-md-6">
            <label for="name">Nombre del producto</label>
            <input type="text" class="form-control" id="name" placeholder="Nombre del producto">
          </div>
          <div class="col-md-6">
            <label for="marca">Marca</label>
            <input type="text" class="form-control" id="marca" placeholder="Marca">
          </div>
        </div>
        <div class="row mt20">
          <div class="col-md-3">
            <label for="talla">Talla</label>
            <input type="text" class="form-control" id="talla" placeholder="Talla">
          </div>
          <div class="col-md-3">
            <label for="precio">Precio</label>
            <input type="text" class="form-control" id="precio" placeholder="Precio">
          </div>
          <div class="col-md-3">
            <label for="color">Color</label>
            <input type="text" class="form-control" id="color" placeholder="Color">
          </div>
          <div class="col-md-3">
            <label for="estado">Es ganga</label>
            <input type="text" class="form-control" id="estado" placeholder="Estado">
          </div>
        </div>
  			<div class="row mt20">
  				<div class="col-md-12 text-center">
  					<div class="headline">
              <mdr-file url="examples/php/upload.php" model="file" size="5" formats="'jpg,png,svg,gif'" limit="10"></mdr-file>
  					</div>
  				</div>
  			</div>
  		</div>
  	</section>
  	<!-- End Portfolio -->
