<!DOCTYPE html>
<div class="row chat" style="margin-top: -10px">
  <div class="col-xs-3">
    <div class="menu">
      <div class="form-group" style="padding:15px">
       <input type="text"class="form-control mt10 searchInput" placeholder="Search...">
     </div>
     <div class="row" ng-repeat="cnv in conversations" style="color: white;">
       <div class="cnvListItem col-xs-12" ui-sref="inbox({id:cnv.id})" ng-class="{'hover':cnv.id==conversation.id}">
         <div class="item col-xs-9">
           {{cnv.nameOwner}}
        </div>
        <div class="item txtMin txtItalic col-xs-8">
          {{cnv.productName}} a {{cnv.price}} €
       </div>
       </div>
       <!--<div class="col-xs-1"></div><div class="col-xs-8" style="margin-top: 15px;border-bottom: 1px solid #CCC;"></div><div class="col-xs-3"></div>
     --></div>
    </div>
  </div>
  <div class="col-xs-9">
    <div class="row">
      <div class="col-md-12 mt20 getHeight" >
        <div ng-repeat="message in messages">
          <div class="separator">
              <div ng-class="{'bubble-top':message.idUser == 2, 'bubble-me-top':message.idUser != 2, 'text-left':message.idUser == 2, 'text-right':message.idUser != 2}">
                <span class="name" ng-if="message.idUser == conversation.idUser">{{conversation.nameBuyer}}</span>
                <span class="name" ng-if="message.idUser == conversation.idUserOwner">{{conversation.nameOwner}}</span>
                <span class="sended">{{message.date | timeAgo}}
              </div>
              <div ng-class="{'bubble':message.idUser == 2, 'bubble-me':message.idUser != 2}">
                {{message.text}}
              </div>
          </div>
        </div>
        <div class="separator"></div>
      </div>
    </div>
    <div class="row" style="position:fixed; left:250px; width:100%; bottom:0">
      <div class="col-md-12">
        <textarea class="form-control" ng-model="myMessage.text"  my-enter="sendMessage()" placeholder="Enviar mensaje..." rows="4"></textarea>
      </div>
    </div>
  </div>
</div>
